<% @lojong_sayings.each do |lojong_saying| %>
  <div class="saying-card fade-slow">
    <p>
      <%= content_tag :p, lojong_saying.number, class: 'number' %>
        <%= content_tag :p, lojong_saying.content, class: 'content' %>
    </p>
  </div>
  <% end %>
  