<% @lojong_sayings.each do |lojong_saying| %>
  <div class="computer-view hidden-xs hidden-sm">
    <div class="fade-slow col-md-6 col-md-offset-3 hidden-xs hidden-sm vertical-center">
      <p>
        <center>
          <%= content_tag :p, lojong_saying.number, class: 'number' %>
        </center>
        <%= content_tag :p, lojong_saying.content, class: 'content' %>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-5 hidden-xs hidden-sm">
    <a href="lojong_sayings" data-turbolinks="false" id="new_slogan_computer">
      <span class="refresh-button glyphicon glyphicon-refresh">
      </span>
    </a>
  </div>

  <div class="mobile-view hidden-md hidden-lg">
    <div class="fade-slow col-xs-5 col-xs-offset-3 hidden-md hidden-lg vertical-center">
      <center>
        <br><br><br><br><br><br>
        <%= content_tag :p, lojong_saying.number, class: 'number-mobile' %>
      </center>
      <%= content_tag :p, lojong_saying.content, class: 'content-mobile' %>
    </div>
  </div>
  <% end %>
    <div class="col-xs-3 col-xs-offset-5 hidden-md hidden-lg">
      <a href="lojong_sayings" data-turbolinks="false" id="new_slogan_mobile">
        <span class="refresh-button-mobile glyphicon glyphicon-refresh">
          
        </span>
      </a>
      </div>
