<br>
<div class="col-xs-8 col-xs-offset-2"><p class="about-text"><em>Lojong</em> is a webapp which displays a random slogan each time a user refreshes the page. The Lojong Slogans are a set of Tibetan Buddhist aphorisms. They're designed to help you overcome undesired mental habits. 
<br><br>
This app is in no way a replacement for meeting with a teacher or reading a book on the Lojong Slogans. Both of those will go into more detail than I ever could. The goal of this app is to introduce people to the slogans and encourage them to learn more. 
<br><br>
Here are a couple of resources for further study:</p>
<h3><a href="http://tricycle.org/trikedaily/train-your-mind-lojong-commentary-judy-lief/">Commentaries on the Slogans via Tricycle</a></h3>
<h3><a href="http://www.lionsroar.com/dont-give-up/">Pema Chödrön's Commentary on the Slogans via Lion's Roar</a></h3>
</div>