<!DOCTYPE html>
<html>

<head>
  <title>Lojong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

  <%= yield %>

</body>

<script>
  javascript:function wrathfulDeities (){document.body.innerHTML=document.body.innerHTML.replace(/dharmapalas/gi, "<span class='getinfo tooltip'>avoidingDharma<span class='tooltiptext'>Wrathful deities<br><a href='https://en.wikipedia.org/wiki/%C5%9A%C5%ABnyat%C4%81' target='_blank'>Learn more</a></span></span>" );return;}; wrathfulDeities();
  javascript:function dharma (){document.body.innerHTML=document.body.innerHTML.replace(/dharma/g, "<span class='getinfo tooltip'>dharma<span class='tooltiptext'>The teachings of the Buddha<br><a href='https://en.wikipedia.org/wiki/Dharma#Buddhism' target='_blank'>Learn more</a></span></span>" );return;}; dharma();
  javascript:function dharmapalas (){document.body.innerHTML=document.body.innerHTML.replace(/avoidingDharma/gi, "<span class='getinfo tooltip'>dharmapalas<span class='tooltiptext'><a href='https://en.wikipedia.org/wiki/%C5%9A%C5%ABnyat%C4%81' target='_blank'>Wrathful deities</a></span></span>" );return;}; dharmapalas();
  javascript:function bodhi (){document.body.innerHTML=document.body.innerHTML.replace(/bodhi/gi, "<span class='getinfo tooltip'>bodhi<span class='tooltiptext'>Translated as Awakening<br><a href='https://en.wikipedia.org/wiki/Bodhi' target='_blank'>Learn more</a></span></span>" );return;}; bodhi();
  javascript:function shunyata (){document.body.innerHTML=document.body.innerHTML.replace(/shunyata/gi, "<span class='getinfo tooltip'>shunyata<span class='tooltiptext'>Often translated as Emptiness<br><a href='https://en.wikipedia.org/wiki/%C5%9A%C5%ABnyat%C4%81' target='_blank'>Learn more</a></span></span>" );return;}; shunyata();
  javascript:function fourKayas (){document.body.innerHTML=document.body.innerHTML.replace(/The Four Kayas/gi, "<span class='getinfo tooltip'>The Four Kayas<span class='tooltiptext'>Translated as The Four Bodies <br><a href='http://tricycle.org/trikedaily/train-your-mind-seeing-confusion-as-the-four-kayas/' target='_blank'> Learn more</a></span></span>" );return;}; fourKayas();
  javascript:function Mahayana (){document.body.innerHTML=document.body.innerHTML.replace(/Mahayana/gi, "<span class='getinfo tooltip'>Mahayana<span class='tooltiptext'>The largest form of Buddhism. Mahayana includes some of the traditions best-known in the West including Zen.<br><a href='https://en.wikipedia.org/wiki/Mahayana' target='_blank'>Learn more</a></span></span>" );return;}; Mahayana();
  javascript:function Tonglen (){document.body.innerHTML=document.body.innerHTML.replace(/Tonglen/gi, "<span class='getinfo tooltip'>Tonglen<span class='tooltiptext'>A training in altruism from Tibetan Buddhism. It is best done with the assistance of a teacher.<br><a href='https://en.wikipedia.org/wiki/Tonglen' target='_blank'>Learn more</a></span></span>" );return;}; Tonglen();
  javascript:function theFiveStrengths (){document.body.innerHTML=document.body.innerHTML.replace(/The Five Strengths/gi, "<span class='getinfo tooltip'>The Five Strengths<span class='tooltiptext'> Faith, energy, mindfulness, concentration, and wisdom.<br><a href='https://en.wikipedia.org/wiki/Five_Strengths' target='_blank'>Learn more</a></span></span>" );return;}; theFiveStrengths();
  javascript:function theFourReminders (){document.body.innerHTML=document.body.innerHTML.replace(/The Four Reminders/gi, "<span class='getinfo tooltip'>The Four Reminders<span class='tooltiptext'> Contemplations about: rebirth, impermanence, karma, and samsara.<br><a href='https://en.wikipedia.org/wiki/Ng%C3%B6ndro#Outer_preliminaries' target='_blank'>Learn more</a></span></span>" );return;}; theFourReminders();
  javascript:function theFourThoughts (){document.body.innerHTML=document.body.innerHTML.replace(/The Four Thoughts/gi, "<span class='getinfo tooltip'>The Four Thoughts<span class='tooltiptext'> Contemplations about: rebirth, impermanence, karma, and samsara.<br><a href='https://en.wikipedia.org/wiki/Ng%C3%B6ndro#Outer_preliminaries' target='_blank'>Learn more</a></span></span>" );return;}; theFourThoughts();
  javascript:function Alaya (){document.body.innerHTML=document.body.innerHTML.replace(/alaya/gi, "<span class='getinfo tooltip'>alaya<span class='tooltiptext'>'The store-house consciousness' <br><a href='https://en.wikipedia.org/wiki/Eight_Consciousnesses#.C4.80layavij.C3.B1.C4.81na' target='_blank'>Learn more</a></span></span>" );return;}; Alaya();
  javascript:function Merit (){document.body.innerHTML=document.body.innerHTML.replace(/merit/gi, "<span class='getinfo tooltip'>merit<span class='tooltiptext'> Actions or thoughts which contribute to a person's spiritual growth.  <br><a href='https://en.wikipedia.org/wiki/Eight_Consciousnesses#.C4.80layavij.C3.B1.C4.81na' target='_blank'>Learn more</a></span></span>" );return;}; Merit();

</script>

</html>
