<!DOCTYPE html>
<html>

<head>
  <title>Lojong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

  <%= yield %>

</body>
<script>
  javascript:function dharma (){document.body.innerHTML=document.body.innerHTML.replace(/dharma/g, "<span class='getinfo' data-toggle='tooltip' title='Some tooltip text!'>dharma</span>" );return;}; dharma();
</script>
</html>
